/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #E5E5E5;
  font-family: 'Montserrat';
}

img {
  max-width: 100%;
  padding: 0;
}

/* Titres */
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding-top: 10px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: 10px;
}

h4 {
  margin-bottom: 15px;
}

section {
  margin: 150px 0;
}

ul {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #fa6600;
}

.titre a {
  font-size: 2.5rem;
}

.titre p {
  margin-bottom: 10px;
}

p {
  margin-bottom: 25px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.d-flex {
  display: flex;
}

.btn {
  background-color: #fa6600;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}


/* NAVIGATION */

.menu {
  display: inline-block;
  font-size: 1.1rem;
  list-style-type: none;
  margin: 0 30px;
  padding-left: 0;
}

#menu-responsive {
  display:none;
}

nav li:hover {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  transition: 200ms;
}

nav {
  background-color: black;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 10;

}

.nav-row{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo-nav svg, i{
  margin-right: 15px;
  padding-top: 9px;
  width: 21px;
}

.logo-nav i {
  font-size: 20px;
}

.logo-nav a:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: 200ms;
}



/* FOOTER */

footer {
  background-color: #00072D;
  font-size: 1.5rem;
  padding: 15px 25px;
  text-align: center;
}

.footer-col {
  width: 33%;
}

.footer-col i {
  font-size: 1.8rem;
}

#reseaux, #about, #liens-utiles {
  list-style: none;
  font-size: 1rem;
}

#reseaux {
  display: flex;
  justify-content: space-evenly;
}

#reseaux i {
  color: white;
}

/* HEADER */

header {
  background-color: black;
  background-image: url('../images/motoheader.jpg');
  background-size: cover;
  background-position:center 70%;
  background-repeat: no-repeat;
  padding-bottom: 450px;
  padding-top: 150px;
}

header h1, p {
  color: white;
}

.flexbox {
  display: flex;
}

/* CATEGORIES */

.catégorie article {
  position: relative;

}
.catégorie article h2 {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.cat:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 500ms;
}

.mb4 {
  margin-bottom: 4%;
}

.mt4  {
  margin-top: 4%;
}

.catégorie {
  display: flex;
}

.colonne1 {
  margin-right: 2%;
}

.colonne2 {
  margin-left: 2%;
}


/* PRODUCTS */

.produit {
  width: 100%;
}

.produit:hover {
  color: white;
}


.produit .btn {
  display: block;
}

.détails {
  color: black;
}

.détails:hover {
  color: #fa6600;
}

.product {
  padding: 15px;
  width: 33.1%;
}

.price {
  color: #0E6BA8;
  font-weight:  700;
}
.description {
  padding: 10px;
  position: relative;
  width: 100%;
}

.fa-heart {
  color: black;
  font-size: 1.4rem;
  position: absolute;
  right: 13px;
  top:7px;
}

.hov {
  box-shadow:0px 6px 13px rgba(0,0,0,0.5);
}

.fa-heart:hover {
  color: #e08f4f;
}

/* PROMOTION */

.product-image {
  background-image: url(../images/gros-cylindre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #00072D;
  border-bottom: 1px solid #00072D;
  height: 300px;
}

.promo {
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  font-size: 3rem;
  height:99%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.promotion {
  position: relative;
}

.promotion:hover .promo {
  opacity: 1;
}

.btn-promo {
  background-color: #fa6600;
  border-color: black;
  bottom: 20px;
  color: white;
  font-size: 2rem;
  padding: 10px;
  position: absolute;
  left: 600px;
}


/* NEWSLETTER */

.newsletter {
  align-items: center;
  height: 100px;
  justify-content: center;
  margin: 80px 0;
}

.newsletter label {
  color: black;
  font-size: 2rem;
  margin-right: 10px;
  text-align: center;
}

.email {
  padding: 10px 60px;
}

.go {
  background-color: #fa6600;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 6px;
}

/* SERVICES */

.services {
  border-top: 1px solid black;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

.services p, .services i {
  color: black;
  font-weight: 800;
}

.services i {
  font-size: 2rem;
}

/* BACK TO TOP */
#back-to-top {
  bottom: 40px;
  font-size: 2.5rem;
  position: fixed;
  right: 40px;
}

#back-to-top i {
  color: #525252;
}
